
@{
    ViewBag.Title = "Mi primera página";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Estilos
    {
    <style>
        alert("Hola");
    </style>
}

<h2>Hola esta es una página desde el controlador</h2>

@section Alerta
    {
    <script>
        alert("Hola");
    </script>
}


