
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Alerta
        {
        <script>
            alert("Hola");
        </script>
    }*@


<h2>Hola esta es una página desde el controlador Clientes</h2>


